<ion-header [translucent]="true" class="header ion-no-border">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-justify-content-center">
        <ion-toolbar mode="ios" class="ion-text-center">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{titulo}}</ion-title>
          <ion-buttons slot="end">
            <ion-avatar>
              <img src="https://lh3.googleusercontent.com/Z1yPp6_xnv5-XUvCxujCzg-aY3OBgvS1LyFfdh4NO6il7Qrn5eELa-upajeuWs9lSq-T">
            </ion-avatar>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>